@model IEnumerable<Website_BanDienThoai_Version1.Models.Products>
@{
    ViewData["Title"] = "Index";

}
<br />
<br />
<div class="row">
    <div class="col-6 " style="padding-left:40px;font-size:30px; text-align:center;">

        <p class="text-info">Danh sách sản phẩm</p>
    </div>

    <div class="col-6 text-right" style="padding-right:20px;">
        <a asp-action="Create" class="btn btn-info">New Product</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped boder" style="font-size:14px;">
        <tr class="table-info text-bold">
            <th>
              Tên sản phẩm
            </th>
            <th>
                Link ảnh
            </th>

            <th>
                Ram
            </th>
            <td>
               Số lượng
            </td>
            <th>
                Bộ nhớ
            </th>
            <th>
                Nhà sản xuất
            </th>
            <th>
                Màu
            </th>
            <th>
                Giá
            </th>
            <th>
                Danh mục
            </th>
            <th>
                Loại
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Memory)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Category.Name)
                </td>
                <td>
                    @if (!item.SpecialTag.Name.Equals("--None--"))
                    {
                        @Html.DisplayFor(m => item.SpecialTag.Name)
                    }
                </td>
                <td style="width:150px">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id"><i class="fas fa-list-alt"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>

        }
    </table>
</div>